<div class="center hero-unit">
  <h2>Welcome to Carbon Club</h2><br/>
    Rules:<br/>
    The first  rule of Carbon Club is you do not talk about Carbon Club...<br/>
    The second rule of Carbon Club is you do not talk about Carbon Club...<br/>
    <br/>
    The list of club members is <%= link_to 'here', producers_path %><br/>
    (this is my first scaffolding generation)
    <br/><br/>
    <a href=""> Click to update the time:</a> <%= @time_now%>

  <br/><br/>
  Your member name is: <%= @member %>
  </nav>
</div>




