<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> </title>
           <%= content_for :head %>
  </head>
  <body>
    <u><strong>Use this page to edit User <%= @producer.user_name %></u></strong>:
    <%= yield %>

  </body>
</html>